<html ng-app="MyApp">
	<head>
	<title>Dulce Fragancia</title>
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
	<script type="text/javascript" src="jquery-1.12.0.min.js"></script>
	<script src="main.js"></script>
	<link rel="stylesheet" href="main.css">
	
	</head>
	
	<body ng-controller="simulador">	

	<div class="container">
		<img class="img-logo" src="img/perfume-logo.png">
		<h1 class="text-center">DULCE FRAGANCIA</h1>
		<hr>
		<span class="lead text-info"></span>
		<ul class="nav nav-tabs">
			<li ng-click="tab_uno()" id="tab_uno" class="active"><a href="#view-uno">Contáctenos</a></li>
			<li ng-click="tab_dos()" id="tab_dos"><a href="#view-dos">A cerca de nostros</a></li>
			<li ng-click="tab_tres()" id="tab_tres"><a  href="#view-tres">Diséñalo tu mismo</a></li>
			<li ng-click="tab_cuatro()" id="tab_cuatro"><a  href="#view-cuatro">Catalogo</a></li>
		</ul>

		<section class="container views">
            <div class="row">
				<!--Vista o pantalla Contáctenos -->
                <article style="display: block;" id="view-uno" class="dish col-xs-12">
					<p><h2>Dulce Fragancia</h2></p>
					<p><strong>2020-1101-01</strong></p>
					<p><h4>Encuéntranos en:</h4></p>
					<p>Bogotá DC</p>
					<p># 53B, cra 25 #2032</p>
					<p>Teléfono: 311 599 7014</p>
				</article>
				<!--Vista o pantalla A cerca de nostros -->
                <article style="display: none;" id="view-dos" class="dish col-xs-12">
                    <div><h2>Nosotros</h2></div>
					<h4>Misión</h4>
					<p>Dulce fragancia es una empresa con innovación en cuanto a perfumes que queremos impactar en el mercado, con nuevos aromas en perfumes para el uso diario y la buena presentación personal.</p>
					<h4>Visión</h4>
					<p>Ser una de las mejores empresas dedicadas a satisfacer los gustos de las personas con posicionamiento global tanto nacional, cumpliendo con los estádares de calidad</p>
				</article>
				<!--Vista o pantalla Diséñalo tu mismo -->
                <article style="display: none;" id="view-tres" class="dish col-xs-12">
					<div ng-if="solicitud">
						<div><h2>Crea tu propio perfume</h2></div>
						<p>
							Diseñar un perfume personalizado te tomara un momento. Te guiaremos paso a paso para crear una fragancia que refleje tu personalidad y tus preferencias. Una fragancia única para ti, con los mejores ingredientes. Nadie en el mundo olerá como tu.
						</p>
						<br><br>
						<h4>¿Para quién es el perfume?</h4>
						<select style="width:120px" ng-model="sexo">
							<option value="1">Unisex</option>
							<option value="2">Hombre</option>
							<option value="3">Mujer</option>
						</select>
						<br><br>
						<h4>intensidad</h4>
						<label>Indicanos que preferencia tienes en el aroma</label>
						<input type="text" size="5" readonly ng-model="intensidad">
						<button ng-click="intensidadMas()" class="btn btn-success btn-xs">+</button>
						<button ng-click="intensidadMenos()" class="btn btn-danger btn-xs">-</button>
						<label>{{tipoIntensidad}}</label>
						<br><br>
						<h4>identificador de fragancia</h4>
						<label>Selecciona una fragancia</label>
						<select style="width:120px" ng-model="fragancia">
							<option value="1">Floral profundo</option>
							<option value="2">Floral suave</option>
							<option value="3">Frutal</option>
							<option value="4">Aromático</option>
							<option value="5">Cítrico</option>
							<option value="6">Oriental</option>
						</select>
						<br><br>
						<h4>Ingredientes</h4>
						<label>Eres libre de elegir tantos ingredientes quieras</label>
						<h5>Flores</h5>
						<button ng-click="flores('Lila')" class="btn btn-success btn-xs">Lila</button>
						<button ng-click="flores('Violeta')" class="btn btn-success btn-xs">Violeta</button>
						<button ng-click="flores('Rosa')" class="btn btn-success btn-xs">Rosa</button>
						<button ng-click="flores('Margarita')" class="btn btn-success btn-xs">Margarita</button>
						<button ng-click="flores('Lirio')" class="btn btn-success btn-xs">Lirio</button>
						<br>
						<span ng-if="tipoFlores.length > 0">Tu selección: </span>
						<li class="animate-repeat" ng-repeat="flor in tipoFlores">
							{{flor}}
						</li>
						<br>
						<h5>Frutas</h5>
						<button ng-click="frutas('Mango')" class="btn btn-danger btn-xs">Mango</button>
						<button ng-click="frutas('Frutas rojos')" class="btn btn-danger btn-xs">Frutas rojos</button>
						<button ng-click="frutas('Limón')" class="btn btn-danger btn-xs">Limón</button>
						<button ng-click="frutas('Manzana')" class="btn btn-danger btn-xs">Manzana</button>
						<button ng-click="frutas('Pera')" class="btn btn-danger btn-xs">Pera</button>
						<br>
						<span ng-if="tipoFrutas.length > 0">Tu selección: </span>
						<li class="animate-repeat" ng-repeat="fruta in tipoFrutas">
							{{fruta}}
						</li>
						<br>
						<h5>Aromas verdes</h5>
						<button ng-click="hierbas('Sabila')" class="btn btn-info btn-xs">Sábila</button>
						<button ng-click="hierbas('Hierba buena')" class="btn btn-info btn-xs">Hierba buena</button>
						<button ng-click="hierbas('Hierba recien cortada')" class="btn btn-info btn-xs">Hierba recien cortada</button>
						<button ng-click="hierbas('Eucalipto')" class="btn btn-info btn-xs">Eucalipto</button>
						<button ng-click="hierbas('Aloe vera')" class="btn btn-info btn-xs">Aloe vera</button>
						<br>
						<span ng-if="tipoHierbas.length > 0">Tu selección: </span>
						<li class="animate-repeat" ng-repeat="hierba in tipoHierbas">
							{{hierba}}
						</li>
						<br>
						<h5>Otros aromas</h5>
						<button ng-click="diversos('Vainilla')" class="btn btn-warning btn-xs">Vainilla</button>
						<button ng-click="diversos('Cafe')" class="btn btn-warning btn-xs">Café</button>
						<button ng-click="diversos('Madera')" class="btn btn-warning btn-xs">Madera</button>
						<button ng-click="diversos('Citrico')" class="btn btn-warning btn-xs">Cítrico</button>
						<button ng-click="diversos('Lila')" class="btn btn-warning btn-xs">Lila</button>
						<br>
						<span ng-if="tipoDiversos.length > 0">Tu selección: </span>
						<li class="animate-repeat" ng-repeat="diverso in tipoDiversos">
							{{diverso}}
						</li>
						<br>
						<h4>Cuéntanos tu estilo</h4>
						<label>Selecciona una estilo</label>
						<select style="width:120px" ng-model="estilo">
							<option value="7">Natural</option>
							<option value="1">Contemporaneo</option>
							<option value="2">Rudo</option>
							<option value="3">Cool</option>
							<option value="4">Alegre</option>
							<option value="5">Tímido</option>
							<option value="6">Versatil</option>
						</select>
						<br>
						<div class="text-center">
							<button ng-click="procesar()" class="btn btn-default btn-lg" value="Hide">Cotizar</button>
						</div>
					</div>
					<div ng-if="!solicitud">
						<div ng-if="frascos">
							<div class="text-center">
								<br>
								<button ng-click="regresarFrascos()" class="btn btn-info btn-lg" value="Hide">Regresar</button>
							</div>
							<h1>Mira nuestro catalogo</h1>
							<h3>Escoge el frasco en el que quieres tu perfume</h3>
							<br>
							<table>
								<tr>
									<td class="text-center"><h4>Frasco Passione</h4>
										<span>$19.000</span>
									</td>
									<td><img class="img-catalogo-frasco" src="img/frasco_1.jpg"></td>
									<td>
										<button ng-click="frasco('Frasco Passione', 19000)" class="btn btn-success btn-lg" value="Hide">Comprar</button>
									</td>
								</tr>
								<tr>
									<td class="text-center"><h4>Frasco Natura</h4>
										<span>$15.000</span>
									</td>
									<td><img class="img-catalogo-frasco" src="img/frasco_2.jpg"></td>
									<td>
										<button ng-click="frasco('Frasco Natura', 15000)" class="btn btn-success btn-lg" value="Hide">Comprar</button>
									</td>
								</tr>
								<tr>
									<td class="text-center"><h4>Frasco the Hill</h4>
										<span>$17.000</span>
									</td>
									<td><img class="img-catalogo-frasco" src="img/frasco_3.jpg"></td>
									<td>
										<button ng-click="frasco('Frasco the Hill', 17000)" class="btn btn-success btn-lg" value="Hide">Comprar</button>
									</td>
								</tr>
								<tr>
									<td class="text-center"><h4>Frasco Eldorado</h4>
										<span>$18.000</span>
									</td>
									<td><img class="img-catalogo-frasco" src="img/frasco_4.jpg"></td>
									<td>
										<button ng-click="frasco('Frasco Eldorado', 18000)" class="btn btn-success btn-lg" value="Hide">Comprar</button>
									</td>
								</tr>
								<tr>
									<td class="text-center"><h4>Frasco Selenium</h4>
										<span>$15.000</span>
									</td>
									<td><img class="img-catalogo-frasco" src="img/frasco_5.jpg"></td>
									<td>
										<button ng-click="frasco('Frasco Selenium', 15000)" class="btn btn-success btn-lg" value="Hide">Comprar</button>
									</td>
								</tr>
								<tr>
									<td class="text-center"><h4>Frasco Violet</h4>
										<span>$14.000</span>
									</td>
									<td><img class="img-catalogo-frasco" src="img/frasco_6.jpg"></td>
									<td>
										<button ng-click="frasco('Frasco Violet', 14000)" class="btn btn-success btn-lg" value="Hide">Comprar</button>
									</td>
								</tr>
								<tr>
									<td class="text-center"><h4>Frasco Platinum</h4>
										<span>$18.000</span>
									</td>
									<td><img class="img-catalogo-frasco" src="img/frasco_7.jpg"></td>
									<td>
										<button ng-click="frasco('Frasco Platinum', 18000)" class="btn btn-success btn-lg" value="Hide">Comprar</button>
									</td>
								</tr>
								<tr>
									<td class="text-center"><h4>Frasco Mercury</h4>
										<span>$13.000</span>
									</td>
									<td><img class="img-catalogo-frasco" src="img/frasco_8.jpg"></td>
									<td>
										<button ng-click="frasco('Frasco Mercury', 13000)" class="btn btn-success btn-lg" value="Hide">Comprar</button>
									</td>
								</tr>
								<tr>
									<td class="text-center"><h4>Frasco Dama</h4>
										<span>$20.000</span>
									</td>
									<td><img class="img-catalogo-frasco" src="img/frasco_9.jpg"></td>
									<td>
										<button ng-click="frasco('Frasco Dama', 20000)" class="btn btn-success btn-lg" value="Hide">Comprar</button>
									</td>
								</tr>
							</table>	
						</div>
						<div ng-if="contacto">
							<div class="text-center">
								<br>
								<button ng-click="regresar()" class="btn btn-info btn-lg" value="Hide">Regresar</button>
							</div>
							<span><h1>¡Ya casi terminamos!</h1></span>
							<h2>Estos fueron los elementos que seleccionaste:</h2>
							<p>Es para 
								<span ng-if="sexo==1">Unisex $10.000</span>
								<span ng-if="sexo==2">Hombre $10.000</span>
								<span ng-if="sexo==3">Mujer $10.000</span>
							</p>
							<p>Intensidad: {{tipoIntensidad}} $2.000</p>
							<p>Fragancia: 
								<span ng-if="fragancia==0">Ninguno</span>
								<span ng-if="fragancia==1">Floral profundo $3.000</span>
								<span ng-if="fragancia==2">Floral suave $3.000</span>
								<span ng-if="fragancia==3">Frutal $3.000</span>
								<span ng-if="fragancia==4">Aromático $3.000</span>
								<span ng-if="fragancia==5">Cítrico $3.000</span>
								<span ng-if="fragancia==6">Oriental $3.000</span>
							</p>
							<p>Flores: 
								<span ng-if="tipoFlores.length==0">Ninguno</span>
								<li class="animate-repeat" ng-repeat="fruta in tipoFlores">
									{{fruta}} $5.000
								</li>
							</p>
							<p>Frutas: 
								<span ng-if="tipoFrutas.length==0">Ninguno</span>
								<li class="animate-repeat" ng-repeat="fruta in tipoFrutas">
									{{fruta}} $5.000
								</li>
							</p>
							<p>Aromas verdes: 
								<span ng-if="tipoHierbas.length==0">Ninguno</span>
								<li class="animate-repeat" ng-repeat="hierba in tipoHierbas">
									{{hierba}} $5.000
								</li>
							</p>
							<p>Otros aromas: 
								<span ng-if="tipoDiversos.length==0">Ninguno</span>
								<li class="animate-repeat" ng-repeat="diverso in tipoDiversos">
									{{diverso}} $5.000
								</li>
							</p>
							<p>Tu Estilo: 
								<span ng-if="estilo==0">Ninguno</span>
								<span ng-if="estilo==7">Natural $3.000</span>
								<span ng-if="estilo==1">Contemporaneo $3.000</span>
								<span ng-if="estilo==2">Rudo $3.000</span>
								<span ng-if="estilo==3">Cool $3.000</span>
								<span ng-if="estilo==4">Alegre $3.000</span>
								<span ng-if="estilo==5">Tímido $3.000</span>
								<span ng-if="estilo==6">Versatil $3.000</span>
							</p>
							<p>
								<span>{{nombrePerfume}} {{valorPerfume | currency}}</span>
							</p>
							<h3>Total: {{totalPerfume | currency}}</h3>
							<br>
							<div class="text-center">
								<button ng-click="finalizar()" class="btn btn-success btn-lg" value="Hide">Terminar</button>
							</div>	
						</div>
						<div ng-if="finalPerfume">
							<div class="text-center">
								<br>
								<button ng-click="regresarPedido()" class="btn btn-info btn-lg" value="Hide">Regresar</button>
							</div>
							<h3>Llena los siguientes datos y en breve nos comunicaremos contigo para finalizar la compra de tu {{ nombrePerfume }}</h3>
							<input type="text" size="25" id="nombre" ng-model="nombre" placeholder="Nombres">
							<br><br>
							<input type="text" size="25" id="apellido" ng-model="apellido" placeholder="Apellido">
							<br><br>
							<input type="email" size="25" id="correo" ng-model="correo" placeholder="Correo">
							<br><br>
							<input type="number" size="25" id="celular" ng-model="celular" placeholder="Celular">
							<br><br>
							<div class="text-center">
								<button ng-click="enviar()" id="enviar" class="btn btn-success btn-lg" value="Hide">Enviar</button>
							</div>	
						</div>
					</div>
				</article>
				<!--Vista o pantalla Catalogo -->
				<article style="display: none;" id="view-cuatro" class="dish col-xs-12">
					<div ng-if="catalogo">
						<h1>Mira nuestro catalogo</h1>
						<h3>También puedes elegir nuestros perfumes ya construidos</h3>
						<table>
							<tr>
								<td><h4>Oceano Indico</h4>
									<span>Este perfume te da el aroma de una aventura fuerte en altamar</span>
								</td>
								<td><img class="img-catalogo" src="img/perfume_1.jpg"></td>
								<td>
									<span>$70.000</span>
									<button ng-click="comprar('Oceano Indico')" class="btn btn-success btn-lg" value="Hide">Comprar</button>
								</td>
							</tr>
							<tr>
								<td><h4>Cielo de terramar</h4>
									<span>Aroma suave que te atrapa en una fantasia única</span>
								</td>
								<td><img class="img-catalogo" src="img/perfume_2.jpg"></td>
								<td>
									<span>$75.000</span>
									<button ng-click="comprar('Cielo de terramar')" class="btn btn-success btn-lg" value="Hide">Comprar</button>
								</td>
							</tr>
							<tr>
								<td><h4>Sol veraniego</h4>
									<span>Fragancia que dislumbra entre tus caminos diarios</span>
								</td>
								<td><img class="img-catalogo" src="img/perfume_3.jpg"></td>
								<td>
									<span>$65.000</span>
									<button ng-click="comprar('Sol veraniego')" class="btn btn-success btn-lg" value="Hide">Comprar</button>
								</td>
							</tr>
							<tr>
								<td><h4>Rosa de primavera</h4>
									<span>Dulce aroma que te hace sentir el olor del nacimiento de nuevas flores</span>
								</td>
								<td><img class="img-catalogo" src="img/perfume_4.jpg"></td>
								<td>
									<span>$85.000</span>
									<button ng-click="comprar('Rosa de primavera')" class="btn btn-success btn-lg" value="Hide">Comprar</button>
								</td>
							</tr>
							<tr>
								<td><h4>Mar Caribe</h4>
									<span>Perfecto para unas vacaciones de sol, playa y brisa</span>
								</td>
								<td><img class="img-catalogo" src="img/perfume_6.jpg"></td>
								<td>
									<span>$82.000</span>
									<button ng-click="comprar('Mar Caribe')" class="btn btn-success btn-lg" value="Hide">Comprar</button>
								</td>
							</tr>
							<tr>
								<td><h4>Dulce Manzana</h4>
									<span>Aroma fresco que transmite naturalidad y tranqulidad</span>
								</td>
								<td><img class="img-catalogo" src="img/perfume_7.jpg"></td>
								<td>
									<span>$90.000</span>
									<button ng-click="comprar('Dulce Manzana')" class="btn btn-success btn-lg" value="Hide">Comprar</button>
								</td>
							</tr>
						</table>	
					</div>
					<div ng-if="!catalogo">
						<div class="text-center">
							<br>
							<button ng-click="regresarCatalogo()" class="btn btn-info btn-lg" value="Hide">Regresar</button>
						</div>
						<h2>Llena los siguientes datos y en breve nos comunicaremos contigo para finalizar la compra de tu {{perfume}}</h2>
						<input type="text" size="25" id="nombre" ng-model="nombre" placeholder="Nombres">
						<br><br>
						<input type="text" size="25" id="apellido" ng-model="apellido" placeholder="Apellido">
						<br><br>
						<input type="email" size="25" id="correo" ng-model="correo" placeholder="Correo">
						<br><br>
						<input type="number" size="25" id="celular" ng-model="celular" placeholder="Celular">
						<br><br>
						<div class="text-center">
							<button ng-click="enviarCompra()" id="enviarCompra" class="btn btn-success btn-lg" value="Hide">Enviar</button>
						</div>	
					</div>
				</article>
				<br>
				<span>{{mensaje}}</span>
            </div>
        </section>
		<br><br>
		<p class="text-center">&copy; Dulce fragancia</p>
    </div>
	</body>
</html>