#main-navbar {
    background-color: #97c93e!important;
}
.company-title {
    color: #FFF;
}
.main-menu {
    margin-top: 16px;
    margin-bottom: 16px;
}

.dish {
    background-color: #568cac;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.dish h2 {
    text-align: center;
    margin-top: 8px;
}



@media (max-width: 767px) {
    .navbar-collapse {
        padding: .5rem 1rem 0 1rem;
        background-color: rgb(162, 253, 169);
        margin: 8px -16px -8px -16px;
    }
    .navbar-toggler {   
        border: 1px solid #1e5372!important;
    }
    .navbar-nav {
        text-align: center;
    }
    .dish {
        margin-left: 32px;
        margin-right: 32px;
    }
    
}

@media (min-width: 768px) and (max-width: 991px) {

    .navbar-nav {
        display: none;
    }
}

@media (min-width: 992px) {
    .navbar-nav {
        display: none;
    }
}